.chat-room-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 10px;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #444;
  padding: 10px;
  margin-bottom: 10px;
  max-height: 400px;
  border-radius: 5px;
  background-color: #2e2e2e;
}

.message-item {
  margin-bottom: 10px;
}

.message-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.message-input-container input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #3e3e3e;
  color: #fff;
}

.message-input-container input::placeholder {
  color: #aaa;
}

.message-input-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.message-input-container button:hover {
  background-color: #0056b3;
}
