.row {
  height: 100vh;
  justify-content: center;
  padding-top: 10%;
}
.main-form {
  justify-content: center;
}
h2 {
  text-align: center;
  padding-bottom: 1em;
}
.reg-link {
  justify-content: center;
}
